:root{
    --background: white;
    --foreground: black;
    --gray: rgba(0, 0, 0, 0.5);
    --font: calc(1rem + 1.5vw);
}
@media (prefers-color-scheme: dark){
    :root{
        --background: black;
        --foreground: white;
        --gray: rgba(255, 255, 255, 0.5);
    }
}


@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-MediumItalic.woff2) format("woff2");
    font-style: italic;
}
@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-Medium.woff2) format("woff2");
    font-style: normal;
}

*{
  margin: 0;
  padding: 0; 
}

::selection {
    background-color: gold;
    color: black;
}

body{
    font-family: "IBM", sans-serif;
    font-weight: normal;
    font-size: var(--font);
    background: var(--background);
    color: var(--foreground); 
    scroll-snap-type: y mandatory;
}

h1{
    font-size: inherit;
    font-weight: inherit;
}
h2{
    font-size: inherit;
    font-weight: inherit;
    color: var(--gray);
    padding-bottom: 5vh;
}
p{
    font-size: 75%;
}

.hidden{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding-left: 3vw;
    padding-bottom: 8vh; 
    scroll-snap-align: start;
}
#title{
    display: flex;
    align-items: flex-end;
    line-height: 160%;
}
.stack{
    display: flex;
    color: var(--gray);
}
.bounce-in-fwd {
    display: inline-block;
	-webkit-animation: bounce-in-fwd 1.5s cubic-bezier(0, 0, 0, 1) 1s;
	        animation: bounce-in-fwd 1.5s cubic-bezier(0, 0, 0, 1) 1s;
}

.grid{
    display: grid;
    padding: 5vh 2vw;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 2vw;
    align-items: top;
    scroll-snap-align: start;
}
.image{
    object-fit: cover;
    width: 47vw;
    height: 47vw;
    border-radius: 2rem;
}



@media (max-width: 500px){
    .grid {
        display: revert;
    }
    .image{
        object-fit: cover;
        width: 94vw;
        height: 94vw;
    }
}


/* ANIMATIONS */
/* bounce-in-fwd by Animista, Licensed under FreeBSD License; see http://animista.net/license for more info */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
