/* FONTS */
@font-face{
    font-family: "IBM Plex Sans";
        src: url(./assets/IBMPlexSans-Medium-Latin1.woff2) format("woff2");
    font-style: normal;
}


/* POSITIONING, CONTENT */
*{
  margin: 0;
  padding: 0; 
}

::selection {
    background-color: gold;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
    font-size: calc(1rem + 1.5vw);
    scroll-snap-type: y mandatory;
}

h1{
    font-size: inherit;
    font-weight: inherit;
}
h2{
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 5vh;
}
p{
    font-size: 75%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding-left: 3vw;
    padding-bottom: 8vh; 
    scroll-snap-align: start;
}
#title{
    display: flex;
    align-items: flex-end;

}
.stack{
    display: flex;
    padding-bottom: 0.5rem;
}
.grid{
    display: grid;
    padding: 5vh 2vw;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 2vw;
    align-items: top;
    scroll-snap-align: start;
}
.image{
    object-fit: cover;
    width: 47vw;
    height: 47vw;
    border-radius: 2rem;
}


/* COLORS */
body{
    background: whitesmoke;
    color: black; 
}
h2, .stack{
    color: rgba(0, 0, 0, 0.4)
}
@media (prefers-color-scheme: dark){
    body{
        background: black;
        color: white; 
        scroll-snap-type: y mandatory;
    }
    h2, .stack{
        color: rgba(255, 255, 255, 0.4)
    }
}


/* MOBILE */
@media (max-width: 500px){
    .grid {
        display: revert;
    }
    .image{
        object-fit: cover;
        width: 94vw;
        height: 94vw;
    }
}


/* ANIMATIONS */

/* Content */
#title, .name, .designer, .stack{
    opacity: 0;
    -webkit-animation: FadeIn forwards;
    animation: FadeIn forwards;
}
.name{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.designer{
    opacity: 0;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.stack{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.bounce-in-fwd {
    display: inline-block;
    opacity: 0;
	-webkit-animation: bounce-in-fwd 1s cubic-bezier(0, 0, 0, 1) 3s forwards;
	        animation: bounce-in-fwd 1s cubic-bezier(0, 0, 0, 1) 3s forwards;
}

/* No Motion */
@media (prefers-reduced-motion) {
  /* this should also turn off autoplaying gifs?? */
    *{
        opacity: 1;
        -webkit-animation: none;
        animation: none;
    }
/* This serves an alt in the HTML */
/*
<picture>
    <source srcset="no-motion.jpg" media="(prefers-reduced-motion: reduce)"></source> 
    <img srcset="animated.gif" alt="brick wall">
</picture> 
    */
    
}

/* Keyframes */
/* fade in */
@-webkit-keyframes FadeIn {
    0% {
        opacity:0
    }

    to {
        opacity:1
    }
}
@keyframes FadeIn {
    0% {
        opacity:0
    }

    to {
        opacity:1
    }
}
/* bounce-in-fwd by Animista, Licensed under FreeBSD License; see http://animista.net/license for more info */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    50%{
        opacity: 0.5;
    }
    55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    75%{
        opacity: 0.75;
    }
    81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
      opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
      opacity: 1;
    }
}
@keyframes bounce-in-fwd {
    0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    50%{
        opacity: 0.5;
    }
    55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    75%{
        opacity: 0.75;
    }
    81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    }
    89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    }
    95% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
      opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
      opacity: 1;
    }
}
