:root{
    --background: #ffffff;
    --foreground: #000000;
    --font: calc(1rem + 1.5vw);
}
@media (prefers-color-scheme: dark){
    :root{
        --background: #000000;
        --foreground: #ffffff;
    }
}


@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-MediumItalic.woff2) format("woff2");
    font-style: italic;
}
@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-Medium.woff2) format("woff2");
    font-style: normal;
}

body{
    font-family: "IBM", serif;
    font-weight: normal;
    font-size: var(--font);
    background: var(--background);
    color: var(--foreground); 
}

h1{
    font-size: inherit;
    font-weight: inherit;
}
.hidden{
    display: none;
}
#title{
    margin: auto;
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: 160%;
}
.role, .designer{
    text-transform: capitalize;
    padding: 0 5px;
}
.role::after{
    content: "\A";
    white-space: pre;
}


@media (max-width: 800px){
    body{
        margin: 5vh 5vw
    }
}
