:root{
    --background: #ffffff;
    --foreground: #000000;
    --font: calc(1rem + 1.5vw);
}
@media (prefers-color-scheme: dark){
    :root{
        --background: #000000;
        --foreground: #ffffff;
    }
}


@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-MediumItalic.woff2) format("woff2");
    font-style: italic;
}
@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-Medium.woff2) format("woff2");
    font-style: normal;
}

body{
    font-family: "IBM", sans-serif;
    font-weight: normal;
    font-size: var(--font);
    background: var(--background);
    color: var(--foreground); 
}

h1{
    font-size: inherit;
    font-weight: inherit;
}
.hidden{
    display: none;
}

#title{
    display: flex;
    align-items: flex-end;
    line-height: 160%;
    width: min-content;
    margin: auto;
    padding: 25vh 0 25vh 5vw; 
}
.role, .designer{
    text-transform: capitalize;
    padding-left: calc(0.25rem + 0.5vw);
    display: flex;
    flex-direction: column;
}
.role{
    opacity: 50%;
}
.grid{
    display: grid;
    padding: 0 2vw;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 2vw;
    align-items: center;
}
.image{
    object-fit: cover;
    width: 46vw;
    height: 80vh;
    border-radius: 2rem;
    
}



@media (max-width: 500px){
    .grid {
        display: revert;
    }
}
