:root{
    --background: #ffffff;
    --foreground: #000000;
    --font: calc(1rem + 1vw);
}
@media (prefers-color-scheme: dark){
    :root{
        --background: #000000;
        --foreground: #ffffff;
    }
}


@font-face{
    font-family: "Work Sans"; 
    src: url(https://github.com/weiweihuanghuang/Work-Sans/blob/b35c81086186162164947bd39574683073d9b268/fonts/variable/WorkSans%5Bwght%5D.ttf?raw=true) format("truetype"); 
    font-style: normal;
    font-feature-settings: "ss02";
}

body{
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: var(--font);
    margin: 5vh 5vw;
    background: var(--background);
    color: var(--foreground); 
}

h1{
    font-size: inherit;
    font-weight: inherit;
}

h2{
    font-size: 75%;
    font-weight: inherit;
    opacity: 60%;
}

a{
    text-decoration-thickness: 0.15rem
}


#skills{
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    column-gap: 5vw;
}
ul{ 
    list-style: none;
    border-left-style: solid;
    padding: 0 50px;
}

@media (max-width: 800px){
    body{
        margin: 5vh 5vw
    }
}
