:root{
    --background: white;
    --foreground: black;
    --color: gold;
    --font: calc(1rem + 1.5vw);
}
@media (prefers-color-scheme: dark){
    :root{
        --background: black;
        --foreground: white;
        --color: gold;
    }
}


@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-MediumItalic.woff2) format("woff2");
    font-style: italic;
}
@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-Medium.woff2) format("woff2");
    font-style: normal;
}

*{
  margin: 0;
  padding: 0; 
}

::selection {
    background-color: var(--color);
    color: black;
}

body{
    font-family: "IBM", sans-serif;
    font-weight: normal;
    font-size: var(--font);
    background: var(--background);
    color: var(--foreground); 
}

h1{
    font-size: inherit;
    font-weight: inherit;
}
.hidden{
    display: none;
}

#title{
    display: flex;
    align-items: flex-end;
    line-height: 160%;
    width: min-content;
    margin: auto;
    padding: 25vh 0 25vh 5vw; 
}
.role, .designer{
    text-transform: capitalize;
    padding-left: calc(0.25rem + 0.5vw);
    display: flex;
    flex-direction: column;
}
.role{
    opacity: 50%;
}
.grid{
    display: grid;
    padding: 5vh 2vw;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 2vw;
    align-items: top;
}
.image{
    object-fit: cover;
    width: 46vw;
    height:46vw;
    border-radius: 2rem;
}



@media (max-width: 500px){
    .grid {
        display: revert;
    }
    .image{
        object-fit: cover;
        width: 94vw;
        height: 94vw;
    }
}
