@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-MediumItalic.woff2) format("woff2");
    font-style: italic;
}
@font-face{
    font-family: "IBM";
        src: url(/assets/IBMPlexSans-Medium.woff2) format("woff2");
    font-style: normal;
}
